<form id="webIngest" method="POST" enctype="multipart/form-data" onsubmit="e.preventDefault(); return false;">
  <input type="file" name="raw" multiple >
  <button name="upload">Upload</button>
  {% csrf_token %}
</form>
<h1>{{statuscode}}</h1>
<form id="tokenSubmit" display="none" method="POST" enctype="multipart/form-data" onsubmit="e.preventDefault(); return false;">
  {% csrf_token %}
</form>
<hr>
<button id="processtrigger">process</button>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!--<script type="text/javascript">
  document.getElementsByName('submit')[0].addEventListener('click', function(e) {
      var files = document.getElementsByName('raw')[0].files[0];
      var token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
      var fd = new FormData();
      console.log(files);
      fd.append("memes", files);
      var name = files.name.split(/(\\|\/)/g).pop();
      var xhr = new XMLHttpRequest();
      (xhr.upload || xhr).addEventListener('progress', function(e) {
          var done = e.position || e.loaded
          var total = e.totalSize || e.total;
          console.log('xhr progress: ' + Math.round(done/total*100) + '%');
      });
      xhr.addEventListener('load', function(e) {
          console.log('xhr upload complete', e, this.responseText);
          // window.location.href = "/aframepage/" + name.substring(0, name.indexOf('.'));;
      });
      xhr.open('POST', 'localhost:3001/ingest/', true);
      xhr.setRequestHeader("X-CSRFToken", token);
      xhr.send(fd);
  });
</script>-->
<script type="text/javascript">
  // post page load shit, low Priority jS
  window.onload = function () {

    function submission(e) {
      console.log("submit event");
      var fd = new FormData(document.getElementById("webIngest"));
      fd.append("source", "webIngest");
      $.ajax({
        url: "ingest/{{username}}/",
        type: "POST",
        data: fd,
        processData: false,  // tell jQuery not to process the data
        contentType: false,   // tell jQuery not to set contentType
        enctype: "multipart/form-data"
      }).done(function( data ) {
          console.log( data );
      });
      return false;
    }

    document.getElementById('webIngest').onsubmit = function(event) {
      event.preventDefault();
    }

    document.getElementById('processtrigger').onclick = function(event) {
      console.log("submit event");
      var fd = new FormData(document.getElementById("tokenSubmit"));
      $.ajax({
        url: "http://192.168.1.163:3001/process/{{username}}/",
        type: "POST",
        data: fd,
        processData: false,  // tell jQuery not to process the data
        contentType: false,   // tell jQuery not to set contentType
        enctype: "multipart/form-data"
      }).done(function( data ) {
          console.log( data );
      });
      return false;
    }

    document.getElementsByName('upload')[0].addEventListener('click', function(e) {
        // var files = document.getElementsByName('raw')[0].files[0];
        // var token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        // var fd = new FormData();
        var fd = new FormData(document.getElementById("webIngest"));
        console.log(fd);
        // fd.append("memes", files);
        var name = "memes";
        var xhr = new XMLHttpRequest();
        (xhr.upload || xhr).addEventListener('progress', function(e) {
            var done = e.position || e.loaded
            var total = e.totalSize || e.total;
            console.log('xhr progress: ' + Math.round(done/total*100) + '%');
        });
        xhr.addEventListener('load', function(e) {
            console.log('xhr upload complete', e, this.responseText);
            // window.location.href = "/aframepage/" + name.substring(0, name.indexOf('.'));;
        });
        xhr.open('POST', 'http://192.168.1.163:3001/ingest/{{username}}/', true);
        // xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
        xhr.send(fd);
    });

  };
</script>

<hr>
{% for frame in frames %}
<p><a>{{frame.foldername}}</a> - <a href="/inspect/{{frame.id}}/">{{frame.createdat}}</a>
  <a>frame.metadata.content:</a>
  <p>
  {% for fil in frame.metadata.content %}
    <a id="expand('{{frame.id}}', '{{fil.filename}}')">{{fil.filename}}</a> - <a href="/filter/?type={{fil.metadata.type}}">{{fil.metadata.type}}</a>
  {% endfor %}
  </p>
</a></p>
{% empty %}
<h3>No Frames</h3>
{% endfor %}
